<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <style>
  h1{
    color:#19d53c;
  }

  </style>

  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %> Server</p>
  <p style="margin-top:10%">/ : GET all feed Data<br> / : GET spacific feed data <br> /feedpost : POST Feed Data</a></p>

    <p style="margin-top:10%">Developed By: <a href="https://facebook.com/mgaurv" target="_blank">Gaurav Pandey</a></p>
  </body>
</html>
